.hero {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}

.hero-title {
  font-size: 40px;
}
.hero-sub {
  font-size: 20px;
  font-weight: 400;
}
.icons {
  margin: 10px;
}
.icons a {
  font-size: 30px;
  margin: 0 10px;
}
.hero-wrapper {
  text-align: center;
}
@media screen and (min-width: 992px) {
  .hero-wrapper {
    text-align: left;
  }
}
