.skills {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.skills .h2 {
  font-size: 2rem;
  margin-bottom: 40px;
}
.grid {
  display: grid;
  grid-template-columns: repeat(2, 125px);
  /* width: 250px; */
  gap: 20px;
}

.child {
  /* width: 100px; */
  background-color: #cecece;
  padding: 10px;
  border-radius: 2%;
  cursor: pointer;
}
.child:hover {
  z-index: 2;
  position: relative;
  transition: all 0.25s;
  box-shadow: 0 1.5rem 2.8rem rgba(0, 0, 0, 0.3),
    0 1rem 1rem rgba(0, 0, 0, 0.15);
  transform: translate(0, -0.5rem) scale(1.01);
}

.child img {
  max-width: 100%;
  height: auto;
}

.git-logo,
.webpack-logo {
  grid-column: span 2;
}
