* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #212529;
}
h1 {
  font-family: 'Poppins', sans-serif;
  color: #cecece;
}
.App {
  padding: 0 20px;
}
.h2 {
  font-size: 2rem;
  margin-bottom: 40px;
  color: #cecece;
}
.hide-mobile {
  display: none;
}

@media screen and (min-width: 576px) {
  .App {
    font-size: 1.3em;
  }
}
@media screen and (min-width: 992px) {
  .hide-mobile {
    display: block;
  }
  .hide-lg {
    display: none;
  }
  .App {
    font-size: 1.6em;
  }
}
@media screen and (min-width: 992px) {
  .App {
    font-size: 1.8em;
  }
  .h2 {
    font-size: 2em;
  }
}
